.wrapper {
    position: relative;
    overflow: hidden;
}

.intro {
    position: relative;
}

.header {
    position: relative;
    /* z-index: 1; */
}

h2,ul {
    margin: 0;
}


.banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    transition: 0.1s;
}

.banner.remove {
    top: -100%;
}

.block-nav {
    width: 100%;
    height: 80px;
}
.block-banner {
    width: 100%;
    height: 60px;
}

.navbar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.1s;
}
.navbar.top {
    top: 0;
}



.intro__body {
    position: relative;
    /* z-index: 1; */
}

.intro__img {
    position: relative;
    z-index: 1;
}

.intro__ball {
    width: clamp(240px,calc(720vw/14.4),800px);
    height: clamp(240px,calc(720vw/14.4),800px);
    border-radius: 50%;
    background-color: #0096FF;
    position: absolute;
    top: -5%;
    right: -5%;
    z-index: -1;
}

.intro__uptitle {
    font-family: "MP-R";
    font-size: clamp(18px,calc(24vw/14.4),32px);
    line-height: clamp(24px,calc(32vw/14.4),36px);
    color: #0096FF;
    margin-bottom: 15px;
}

.intro__title {
    font-family: 'MP-EB';
    color: #18191F;
    font-size: clamp(24px,calc(40vw/14.4),50px);
    line-height: clamp(30px,calc(50vw/14.4),60px);
    margin-bottom: 15px;
}


.intro__subtitle {
    font-family: "MP-R";
    font-size: clamp(16px,calc(18vw/14.4),24px);
    line-height: clamp(18px,calc(32vw/14.4),36px);
    margin-bottom: 15px;
}

.intro__btn {
    font-family: "MP-R";
    border-radius: 10px;
    border: none;
    background: #0096FF;
    color: #fff;
    padding: clamp(7px,calc(15vw/14.4),25px) clamp(15px,calc(30vw/14.4),40px);
}














.more {
    padding: 40px 0;
}

.more__img {
    position: relative;
    z-index: 1;
}
.more__img img {
    width: 100%;
}

.more__content {
    position: relative;
    z-index: 1;
}

.more__card {
    margin-bottom: 20px;
}

.more__title {
    font-family: "MP-B";
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(16px,calc(20vw/14.4),24px);
    line-height: clamp(18px,calc(28vw/14.4),32px);
    margin-bottom: 15px;
    color: #000;
    padding-right: 40%;
}

.more__card-title {
    font-family: "MP-R";
    font-size: clamp(16px,calc(20vw/14.4),24px);
    line-height: clamp(18px,calc(28vw/14.4),32px);
    margin-bottom: 5px;
    color: rgba(0, 150, 255, 1);
}

.more__card-text {
    font-family: "MP-R";
    font-size: clamp(14px,calc(16vw/14.4),20px);
    line-height: clamp(16px,calc(20vw/14.4),24px);
    color: #000;
}

.more__body {
    display: flex;
    align-items: center;
    position: relative;
}


.more__ball {
    width: clamp(300px,calc(400vw/14.4),500px);
    height: clamp(300px,calc(400vw/14.4),500px);
    border-radius: 50%;
    background: #F1F1F1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




