@media (max-width: 992px) {
    .more__body {
        flex-direction: column;
    }

    .more__img {
        display: flex;
        justify-content: center;
    }

    .more__img img {
        width: 70%;
    }

    .more__content {
        text-align: center;
    }

    .more__title {
        padding-right: 0;
    }

    .more__ball {
        display: none;
    }

    .work__img {
        transform: scale(1);
    }
    .work__title {
        margin-top: 15px;
    }


    .depart__up {
        padding: 0 10%;
    }
}

@media (max-width: 768px) {
    .service__body {
        flex-direction: column-reverse;
    }
    .service__title {
        margin-top: 10px;
        text-align: center;
    }
    .service__text {
        text-align: center;
    }
    .service__text {
        text-align: justify;
    }

    .modal-block_img {
        position: relative;
        width: 100%;
        height: clamp(100px,calc(300vw/14.4),400px);
    }
    .modal-block_img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .navbar {
        top: 0;
    }
}

@media (max-width: 676px) {
    .banner {
        display: none;
    }

    .cards__card {
        width: 80%;
        height: 35vh;
    }

    .cards__card-title {
        left: 0;
    }

    .cards__card::before {
        display: none;
    }
}

@media (max-width: 576px) {
    .client__slide-high {
        transform: translateY(0);
    }

    .about__content-text {
        text-align: justify;
    }
    .about__content-title,
    .about__content-subtitle{
        text-align: center;
    }

    .work__text {
        text-align: justify;
        padding: 0 15px;
    }

    .depart__up {
        padding: 0 3%;
    }
}

@media (max-width: 400px) {
    .more__card-text {
        text-align: justify;
    }
}