@import url('./fonts.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2 {
    margin: 0;
}

html {
    overflow: -x hidden;
}

ul {
    list-style: none;
    padding: 0;
}

*::marker {
    display: none;
}

a {
    text-decoration: none;
}

.banner {
    padding: 15px 0;
    width: 100%;
    background-color: #F5F5F5;
}

.banner__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner__info-card {
    display: flex;
    align-items: center;
    gap: 5px;
}

.banner__info-svg {
    fill: rgb(39, 140, 240);
}

.banner__info-link {
    color: #0096FF;
    font-size: 12px;
    line-height: 120%;
    font-family: "MT-M";
}


.banner__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.banner__icons-card {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(128, 202, 255, 0.1);
}

.banner__icons-card svg {
    fill: #0096FF;
}

.navbar-nav {
    gap: 30px;
}

.header__link {
    font-family: "MP-B";
    font-size: 14px;
    font-weight: 700;
    color: #18191F;
    transition: 0.3s;
}

.header__link.active {
    color: hsl(205deg 100% 50%);
}

.header__link:hover {
    color: hsl(205deg 100% 50%);
}


.cards__title {
    font-family: 'MP-EB';
    font-size: clamp(20px,calc(36vw/14.4),40px);
    line-height: clamp(24px,calc(64vw/14.4),74px);
    color: #000;
    font-weight: 800;
    text-align: center;
}

.cards__body {
    display: flex;
    flex-direction: column;
}

.cards__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.cards__card {
    position: relative;
    width: clamp(250px,calc(325vw/14.4),360px);
    height: clamp(170px,calc(200vw/14.4),250px);
    margin-top: clamp(20px,calc(50vw/14.4),60px);
}

.main__title {
    padding: clamp(30px,calc(50vw/14.4),60px) 0;
    text-align: center;
    background-color: rgba(0, 150, 255, 1);
    color: #fff;
    font-family: 'H-B';
}

/* .cards__card:not(:nth-child(3n)){
    margin-right: clamp(20px,calc(55vw/14.4),70px);;
} */


.cards,
.workers,
.client {
    padding: 40px 0;
}


.cards__card::before {
    content: '';
    width: 30px;
    height: 5px;
    background: #80CAFF;
    position: absolute;
    top: 15px;
    left: -30px;
    display: block;
    transition: 0.3s;
}

.cards__card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cards__card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.cards__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
}

.cards__card-title {
    font-family: "NS";
    font-size: clamp(20px,calc(36vw/14.4),40px);
    line-height: clamp(24px,calc(48vw/14.4),54px);
    color: #fff;
    position: absolute;
    left: -30px;
    bottom: 0;
    padding: clamp(5px,calc(15vw/14.4),25px) clamp(40px,calc(70vw/14.4),80px) clamp(5px,calc(15vw/14.4),25px) clamp(5px,calc(15vw/14.4),25px);
    background: rgba(0, 150, 255, 0.49);
    transition: 0.3s;
}



.cards__card:hover .cards__link {
    background: rgba(243,63,51, 0.5);
    -webkit-backface-visibility: hidden;
}
.cards__card:hover .cards__card-title {
    background: rgb(164,42,66);
    left: 0;
    right: 0;
}
.cards__card:hover::before {
    background: rgb(164,42,66);
    left: 0;
}
.cards__card:hover .cards__card-img img{
    transform: scale(1.3);
}








.workers__wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.workers__img {
    width: 100%;
    object-fit: cover;
}

.workers__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workers__title {
    font-family: 'MP-EB';
    margin-bottom: clamp(15px,calc(30vw/14.4),40px);
    font-weight: 800;
    font-size: clamp(24px,calc(36vw/14.4),46px);
    line-height: clamp(32px,calc(64vw/14.4),72px);
    color: rgba(24, 25, 31, 1);
}

.workers__name {
    font-family: "MP-R";
    font-size: clamp(16px,calc(20vw/14.4),24px);
    line-height: clamp(18px,calc(24vw/14.4),28px);
    color: #000;
    text-transform: uppercase;
    margin-top: 15px;
}

.workers__subname {
    font-family: "MP-B";
    text-transform: uppercase;
    font-size: clamp(16px,calc(18vw/14.4),22px);
    line-height: clamp(18px,calc(20vw/14.4),24px);
    color: rgba(0, 150, 255, 1);
    font-weight: 700;
}











.client__wrapper {
    padding: clamp(20px,calc(50vw/14.4),70px) 0 0 0;
}

.client__body {
    overflow: hidden;
}

.client .container-md {
    overflow: hidden;
}

.client__slide-up {
    box-shadow: 0px 0px 20px 10px rgb(248,249,251);
    text-align: center;
    padding: clamp(10px,calc(20vw/14.4),25px) clamp(5px,calc(15vw/14.4),25px);
    border-radius: 10px;
    background: #fff;
    color: #000;
    margin-bottom: clamp(10px,calc(30vw/14.4),40px);
}

.client__slide-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.client__slide-name,
.client__slide-subname {
    font-size: clamp(16px,calc(18vw/14.4),24px);
    line-height: clamp(18px,calc(24vw/14.4),32px);
    margin-top: 5px;
}
.client__slide-name {
    font-family: "MP-B";
}
.client__slide-subname {
    font-family: "MP-R";
    color: rgba(71, 74, 87, 1);
}
.client__title {
    font-family: 'MP-EB';
    font-size: clamp(24px,calc(36vw/14.4),42px);
    line-height: clamp(32px,calc(64vw/14.4),72px);
    text-align: center;
    margin-bottom: 5px;
    color: rgba(24, 25, 31, 1);
}

.client__subtitle {
    font-family: "MP-R";
    font-size: clamp(16px,calc(18vw/14.4),24px);
    line-height: clamp(18px,calc(24vw/14.4),30px);
    color: rgba(24, 25, 31, 1); 
    text-align: center;
}

.client__slide-title {
    font-family: 'MP-SM';
    font-size: clamp(16px,calc(24vw/14.4),32px);
    line-height: clamp(20px,calc(28vw/14.4),36px);
}
.client__slide-text {
    font-family: "MP-R";
    font-size: clamp(14px,calc(18vw/14.4),20px);
    line-height: clamp(16px,calc(20vw/14.4),24px);
    color: rgba(24, 25, 31, 1);
}



.client__pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(34, 150, 249, 1);
    margin: 0 6px;
    transition: 0.2s;
}

.client__pagination-bullet-active {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgba(34, 150, 249, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client__pagination-bullet-active::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    animation: bulletAnimation 0.8s;
}

.client__slide-high {
    transform: translateY(-20px);
}





@keyframes bulletAnimation{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}





















.footer {
    padding: 20px 0 80px 0;
    background-color: #0096FF;
    color: #fff;
}

.footer svg {
    fill: #fff;
}

.footer a {
    color: #fff;
}

/* .footer__about {
    padding-right: 100px;
} */

.footer__about-title,
.footer__social-title {
    font-family: "MP-R";
    font-size: clamp(12px,calc(20vw/14.4),24px);
    line-height: clamp(18px,calc(24vw/14.4),30px);
    margin-bottom: clamp(10px,calc(25vw/14.4),35px);
}

.footer__about-title {
    font-family: "MP-R";
    margin-top: 15px;
}

.footer__about-text,
.footer__details-title {
    font-family: "MP-R";
    font-size: clamp(10px,calc(14vw/14.4),18px);
    line-height: clamp(14px,calc(18vw/14.4),24px);
}

.footer__details-subtitle,
.footer__social-name,
.footer__icons-link {
    font-family: "MP-R";
    font-size: clamp(10px,calc(14vw/14.4),18px);
    line-height: clamp(14px,calc(18vw/14.4),24px);
}

.footer__social-card:not(:last-child), 
.footer__icons-card:not(:last-child) {
    margin-bottom: clamp(12px,calc(20vw/14.4),24px);
}


.accordion .accordion-body *:not(svg) {
    color: #000;
}
.accordion .accordion-body svg {
    fill: #000;
}
.accordion .footer__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.accordion-button {
    font-family: "MP-R";
    font-size: 24px;
    line-height: 32px;
    color: #000;
}



.modal__text {
    font-family: "MT-M";
    font-size: clamp(14px,calc(18vw/14.4),22px);
    line-height: clamp(18px,calc(32vw/14.4),36px);
}

.modal__title {
    font-family: "NS";
    font-size: clamp(32px,calc(42vw/14.4),46px);
    line-height: 100%;
}

.modal-body {
    overflow-x: hidden;
}

.modal__slide {
    opacity: 0.6;
    transform: scale(0.8);
    transition: 0.3s;
}

.modal__slide-active {
    opacity: 1;
    transform: scale(1);
}







.share-widget-sub a {
    text-decoration: none;
}


.share-widget-sub a svg {
    width: 24px;
    margin: 7px;
    transition: .2s ease-in-out;
}

.modal-content .share-widget {
    position: relative;
    bottom: unset;
    right: unset;
}

/* FLIP ANIMATION */
.share-widget {
    perspective: 400px;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.share-widget .share-widget-sub {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-widget-sub .share-widget-title,
.share-widget-sub .share-widget-icons {
    position: absolute;
    width: 100%;
    height: 50px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.share-widget-sub .share-widget-title {
    width: auto;
    height: auto;
    display: initial;
    justify-content: start;
    align-items: stretch;
    box-shadow: none;
    font-size: clamp(12px, calc(18vw/14.4), 24px);
    text-align: center;
    padding: 20px 10px; 
    text-transform: uppercase;
}

.share-widget-sub .share-widget-icons {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    overflow: hidden;
}

.share-widget-sub.flipped {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}


/* LIGHT & DARK STYLES */
.share-widget.dark .share-widget-sub a svg {
    fill: rgb(255, 255, 255);
}

.share-widget.dark .share-widget-sub .share-widget-title,
.share-widget.dark .share-widget-sub .share-widget-icons {
    background-color: rgb(63, 140, 196);
    border-radius: 10px;
}

.share-widget.dark .share-widget-sub {
    color: rgb(255, 255, 255);
}

.share-widget.dark .share-widget-sub .share-widget-title svg {
    fill: rgb(255, 255, 255);
}

/* FULL STYLE */
.share-widget.full .share-widget-sub {
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: default;

}

.share-widget.full .share-widget-sub .share-widget-title,
.share-widget.full .share-widget-sub .share-widget-icons {
    position: relative;
    transform: none;
    box-shadow: none;
}

.share-widget.full .share-widget-sub .share-widget-title svg {
    display: none;
}





.gallery {
    padding: 40px 0;
}

.gallery__link {
    display: block;
    position: relative;
    height: 270px;
}

.gallery__link img {
    padding: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery__title {
    font-family: 'MP-EB';
    margin-bottom: clamp(24px,calc(30vw/14.4),34px);
    font-size: clamp(24px,calc(30vw/14.4),34px);
    line-height: clamp(32px,calc(64vw/14.4),70px);
    color: rgba(24, 25, 31, 1);
    text-align: center;

}